@model BibliotekaWeb.Models.PozycjaHistoriaViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Html.DisplayFor(model => model.PozycjaViewModel.Tytul)</h1>


<div class="card" style="width: 18rem;">
    <img src=@Html.DisplayFor(model => model.PozycjaViewModel.Foto) class="card-img-top" alt=@Html.DisplayFor(model => model.PozycjaViewModel.Tytul)>
    <div class="card-body">
        <h5 class="card-title">@Html.DisplayFor(model => model.PozycjaViewModel.Tytul)</h5>
        <!-- <p class="card-text">@Html.DisplayFor(model => model.PozycjaViewModel.Tytul)</p>-->
    </div>
    <ul class="list-group list-group-flush">
        @if (Model.PozycjaViewModel.Rodzaj == 0)
        {
            <li class="list-group-item"><span>Autor: </span>@Html.DisplayFor(model => model.PozycjaViewModel.Autor)</li>
        }
        else
        {
            <li class="list-group-item"><span>Wykonawca: </span>@Html.DisplayFor(model => model.PozycjaViewModel.Autor)</li>
        }
        <li class="list-group-item"><span>Autor: </span>@Html.DisplayFor(model => model.PozycjaViewModel.Autor)</li>
        <li class="list-group-item"><span>Rok wydania: </span>@Html.DisplayFor(model => model.PozycjaViewModel.Rok)</li>
        <li class="list-group-item"><span>Nośnik: </span>@Html.DisplayFor(model => model.PozycjaViewModel.Rodzaj)</li>
        @if (Model.PozycjaViewModel.Status)
        {
            <li class="list-group-item rent">Status: <span>Wypożyczona</span></li>
        }
        else
        {
            <li class="list-group-item return">Status: <span>Dostępna</span></li>
        }
    </ul>
    <div class="card-body">
        <a asp-action="Edit" asp-route-id="@Model.PozycjaViewModel.PozycjaId" class="btn btn-primary">Edycja</a>
        <a asp-action="Index">Powrót do Pozycji</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Osoba
            </th>
            <th>
                Data od
            </th>
            <th>
                Data do
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.HistoriaViewModels.Count() == 0)
        {
            <tr>
                <td></td>
                <td>
                    Brak wypożyczeń
                </td>
                <td></td>
            </tr>
        }
        else
        {
            @foreach (var item in Model.HistoriaViewModels)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Osoba)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataOd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataDo)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>